[Unit]
Description=PZ Discord Bot with python
Documentation=https://github.com/cedorikku/pz-manager
After=network.target
After=pz-server-api.service

[Service]
WorkingDirectory=<project-directory>
Type=simple
User=<user>
ExecStart=docker compose -f discord-bot/docker-compose.yml up
Restart=on-failure

[Install]
WantedBy=multi-user.target
